.desc {
  text-align: center;
  padding-top: 70px;
}

.desc-h1 {
  color: rgb(3, 3, 3);
  font-family: Plus Jakarta Sans;
  font-size: 56px;
  font-weight: 700;
  line-height: 71px;
  letter-spacing: 0px;
  text-align: center;
}
.desc-h3 {
  color: rgb(122, 116, 110);
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
}
